*{
    font-family:Tahoma;
    
}
body {
    background-color: #0f0f0f; 
        color: #ffffff;
        text-align: center; 
        background-image: url("../Image/back.gif"); 
        background-repeat: no-repeat;
        background-size: cover;
    
}
p{
    background-color: black;
}
img{
width:25%;
height:25%;
margin-left: 40%;
margin-right: 40%;
border-radius: 50px;

}
@media screen and (max-width: 768px) {
    body{
        background-repeat:repeat;
    }
    img {
        width: 50%;
        margin-left: 25%;
        margin-right: 25%;
    }
}

@media screen and (max-width: 480px) {
    img {
        width: 75%;
        margin-left: 12.5%;
        margin-right: 12.5%;
    }
}

@media screen and (max-width: 768px) {
    nav ul {
        display: flex;
        flex-direction:row;
        align-items: left;
        padding: 2px;
    }

    nav ul li {
        display: block;
        margin: 1px 0;
        margin-right: 20px;
        font-size: 16px;
        margin-left: 5px;
    }
}
header {
    text-align: center;
   font-size: larger;
    margin-bottom: 20px;
}


nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: rgb(51, 255, 0);
    
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

section {
    margin: 20px;
}

img {
    max-width: 100%;
    height: auto;
}

.project {
    margin-bottom: 20px;
}


